html, body{
	background-color: #eee !important;
}

a {
    color: unset !important;
    text-decoration: underline !important;
    background-color: transparent;
}

header{
	width:100%;
	height:50px;
	background-color: #4d7a73;
}
@media only screen and (min-width: 600px) {
	main{
		width: 70%;
		margin: auto;
		margin-top: 50px;
	}
}

.post, nav{
	border-radius: 10px !important;
	background-color: white !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
}

nav{
	padding: 20px;
    margin: 0.5rem;
	max-width: 600px;
}

@media only screen and (min-width: 600px) {
	nav{
		width: 70%;
		margin: auto;
		margin-top: 50px;
	}
}

.roundinput{
    width: 100%;
    font-size: small;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #7a7a7a;
    padding: 5px;
}

.rounded-circle{
	object-fit: cover;
}

.notification-count{
	background: red;
	color: white;
	border-radius: 10px;
	padding: 0px 8px;
	position: absolute;
	top: 5px;
	right: 50px;
	font-size: 12px;
}